body {
  font-family: "Montserrat"sans-serif;
  text-align:center;
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Montserrat-bold', sans-serif;
}

.container-features {
  padding: 3% 15%;
}

.container-title {
  padding: 3% 15% 10%;
}

/* Headings */

.big-heading {
  font-size: 4rem;
  font-height: 1.5;
  font-family: "Montserrat-Black", sans-serif;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */

.white-section {
  background-color: white;
}

.colored-section {
    color: white;
}

/* Title Section*/

#title {
  background-color: #ff4c68;
  text-align:left;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
}

.rotated {
  transform: rotate(25deg);
}

/* Features Section*/
#features {
  padding: 7% 5%;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 3.5%;
}

.feature-text {
  margin-left: auto;
  margin-right: auto;
  color: #8f8f8f;
}

.feature-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #ff4c68;
}

/* Testimonials Section*/
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing Section*/
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}

/*Call to Action */

#cta {
 background-color: #ff4c68;
 font-family: "Montserrat-Black", sans-serif;
 padding: 7% 20%;
}

/*Footer */

#footer {
  padding: 5% 15%;
  color: #8f8f8f;
}

.social-images {
  margin: 20px 10px;
}
